@model BookListVM


<h1>@Model.BookCategoryName</h1>
<hr />
@foreach (var book in Model.Books)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@book.ImageUrl" alt="@book.Title">
        <div class="card-body">
            <h5 class="card-title">@book.Title</h5>
            <h6 class="card-subtitle">@book.Author</h6>
            <p class="card-text">@book.Category.Name</p> @*Can add book price here*@
            <a asp-controller="Book" asp-action="BookDetails" asp-route-id="@book.BookId"
               class="btn btn-primary">Details</a>
            <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-bookId=@book.BookId
               class="btn btn-primary">Add To Cart</a>
        </div>
    </div>
}